@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

:root {
    --main-color: #3fcb71;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', serif;
}

body {
    /* background-color: #3fcb71; */
    height: 100vh;
    background-image: url('/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
section {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    /* margin-top: 150px; */
    display: flex;
    justify-content: center;
    align-items: center;


}

section .Calculatr {
    max-width: 1080px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: #3fcb71 solid 5px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);

    perspective: 1000px;
}

section .Calculatr h1 {
    font-size: 50px;
    color: #3fcb71;


}


section .Calculatr hr {
    width: 90%;
    margin: 10px 0 50px 0;
    background-color: #3fcb71;
    color: #3fcb71;
    border: #3fcb71 solid 0.5px;



}

section .Calculatr div.below {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

section .Calculatr div.below div.inputOutput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    direction: rtl;
}

section .Calculatr div.below div.inputOutput input {

    margin: 20px 40px;
    font-size: 30px;

    border: #333 solid 0.5px;
    /* border: none; */
    padding: 10px;
    border-radius: 5px;

}

section .Calculatr div.below div.inputOutput .Result {
    text-align: center;
    margin: 20px auto;
    font-size: 30px;
    padding: 10px;
    padding-right: 80px;
    border-radius: 5px;
    /* font-weight: 800; */


}

section .Calculatr div.below button.theReulter {
    margin: 20px 0;
    font-size: 30px;
    padding: 15px 20px;
    border-radius: 5px;
    border: #333 solid 0.5px;
    cursor: pointer;
    color: #333;
    color: var(-mainColor);
    background-color: inherit;
}
section .Calculatr div.below button.theReulter:hover{
    background-color:#fff ;
    color: var(--main-color);
    border-color: var(--main-color);
}
.logo {
    position: absolute;
    left: -20px;
    bottom: -40px;
    min-width: 100px;
    font-size: 150px;
    font-weight: 700;
    color: var(--main-color);
    padding: 0;
    margin: 0;
    font-family: serif;
    text-shadow: 5px 5px black;
    border: none;
    transform-style: preserve-3d;
    transform: rotateX(35deg);
    animation: logo3d 10s ease infinite;
}
@keyframes logo3d {
    0%,100%{
        /* transform: rotateX(35deg); */
        transform: translateY(0%) rotateX(35deg);
    }50%{
        /* transform: rotateX(-35deg); */
        transform: translateY(20%) rotateX(35deg);
    }
}